[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "catR"]
	path = catR
	url = https://github.com/cran/catR
	shallow = true
	registered = true
